<p id="notice"><%= notice %></p>

<h1>Disciplinas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.title %></td>
        <td><%= unit.course.title %></td>
        <td><%= link_to 'Ver', unit %></td>
        <td><%= link_to 'Editar', edit_unit_path(unit) %></td>
        <td><%= link_to 'Apagar', unit, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Disciplina', new_unit_path %>
