<%= form_for(review, url: unit_reviews_path) do |f| %>

<% if review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="field">
  <%= f.label :rating_relevance, 'Relevância da matéria' %>
  <%= f.select :rating_relevance, 1..5, prompt: 'Dê a sua avaliação' %>
</div>

<div class="field">
  <%= f.label :rating_teaching, 'Avalie a aula do professor' %>
  <%= f.select :rating_teaching, 1..5, prompt: 'Dê a sua avaliação' %>
</div>

<div class="field">
  <%= f.label :rating_exam, 'Avalie se a prova é justa' %>
  <%= f.select :rating_exam, 1..5, prompt: 'Dê a sua avaliação' %>
</div>

<div class="field">
  <%= f.label :rating_worth_it, 'Vale a pena fazer a matéria' %>
  <%= f.check_box :rating_worth_it %>
</div>

<div class="field">
  <%= f.label :rating_difficulty, 'Dificuldade da matéria' %>
  <%= f.select :rating_difficulty, options_for_select([['Fácil', 1], ['Média', 2], ['Difícil', 3]]) %>
</div>

<div class="field">
  <%= f.label :content, 'Comentário' %>
  <%= f.text_area :content %>
</div>

<div class="field">
  <%= f.label :year, 'Ano' %>
  <%= f.select :year, (Time.zone.now.year - 5)..(Time.zone.now.year), selected: Time.zone.now.year %>
</div>

<%= f.hidden_field :unit_id, value: params[:unit_id] %>

<div class="field">
  <%= f.label :semester, 'Semestre' %>
  <%= f.select :semester, 1..2 %>
</div>

<div class="field">
  <%= f.submit 'Enviar' %>
</div>

<% end %>
